<h2>Clases en angular </h2>
<h5>Se creará un nuevo usuario y se añadirá a un array de usuarios</h5>
<div class="my-3 shadow-sm p-3 mb-5 bg-body border rounded p-4">
    <input type="text" class="form-control" placeholder="nombre" [(ngModel)]="user.nombre"><br>
    <input type="text" class="form-control" placeholder="apellido" [(ngModel)]="user.apellido"><br>
    <input type="text" class="form-control" placeholder="edad" [(ngModel)]="user.edad"><br>
    <button class="btn btn-primary" (click)="insertarUsuarios()">Mostrar usuario</button>
</div>


<ul class="list-group my-3" *ngFor="let usuario of users" (click)="mostrarUsuario(usuario)">
    <li class="list-group-item">Nombre: {{usuario.nombre}}</li>
    <li class="list-group-item">Apellido: {{usuario.apellido}}</li>
    <li class="list-group-item">Edad: {{usuario.edad}}</li>
</ul>