<div class="row">

    <div class="col">
        <div *ngIf="formRegister.valid" class="alert alert-success" role="alert">
            El Formulario es valido
        </div>
        <div *ngIf="!formRegister.valid && formRegister.touched" class="alert alert-danger" role="alert">
            El Formulario no es valido
        </div>
        <form [formGroup]="formRegister" class="shadow p-3 mb-5 bg-body border rounded p-4" action="" (submit)="submit()">
            <h3>Regístrate</h3>
            <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
            </div>
            <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos">
            </div>
            <div class="mb-1">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="mb-1">
                <label for="exampleInputPassword1" class="form-label">Repite Password</label>
                <input type="password" class="form-control" formControlName="password2">
            </div>
            <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Dni</label>
                <input type="text" class="form-control" formControlName="dni">
            </div>
            <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="telefono">
            </div>
            <button [disabled]="!formRegister.valid" class="btn btn-primary my-3" type="submit">Registrar</button>


            <!-- <input type="text" class="form-control" formControlName="nombre" placeholder="nombre">
            <input type="text" class="form-control" formControlName="apellidos" placeholder="apellidos">
            <input type="text" class="form-control" formControlName="password" placeholder="password">
            <input type="text" class="form-control" formControlName="password2" placeholder="repite password">
            <input type="text" class="form-control" formControlName="email" placeholder="email">
            <input type="text" class="form-control" formControlName="dni" placeholder="dni">
            <input type="text" class="form-control" formControlName="telefono" placeholder="telefono"> -->

        </form>
    </div>
</div>