<div class="alert alert-info" *ngIf='creado' role="alert">
    <strong>{{mensaje}}</strong>
</div>

<form [formGroup]="formRegister" class="shadow p-3 mb-5 bg-body border rounded p-4" action="" (submit)="submit()">
    <h3>Log in</h3>
    <div class="mb-1">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="email">
    </div>
    <div class="mb-1">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="password">
    </div>




    <button [disabled]="!formRegister.valid" class="btn btn-primary my-3" type="submit">Entrar</button>
</form>