<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/loteria">Loteria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/tuberias">Tuberias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/estructuras">Estructuras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/formulario">Formulario Clase</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/crud-local">Crud-local</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contactos">Contactos</a>
    </li>
    <li class="nav-item float-right">
        <a class="nav-link" routerLink="/registro">Registro</a>
    </li>
    <li class="nav-item float-right">
        <a class="nav-link" routerLink="/crud">crud</a>
    </li>
</ul>