<h2>Estructuras de control con IfElse</h2>

<div class="form-check">
    <p>
        <input type="checkbox" class="form-check-input" id="verdad" [(ngModel)]="verdad">
        <label class="form-check-label" for="verdad"> <b> <-- Marca la casilla</b>  ¿Verdad? </label>
    </p>

</div>

<p>{{verdad? "Es verdad" : "Es mentira"}} Con ternario</p>



<p *ngIf="verdad; else mentira">Es verdad con ngIf</p>
<ng-template #mentira>
    <p>Es mentira con ngIf</p>
</ng-template>

<hr>

<label for="edad"> <b>Introduce tu edad</b></label>
<input type="number" class="form-control mb-3" id="edad" [(ngModel)]="edad">

<p *ngIf="edad<18 ;  else mayor18"> Es menor de edad </p>

<ng-template #mayor18>
    <ng-container *ngIf="edad>=18 && edad<30; else mayor30">
        <p>Es joven</p>
    </ng-container>
</ng-template>

<ng-template #mayor30>
    <ng-container>
        <p>Es mayor</p>
    </ng-container>
</ng-template>

<p> <b>If-Else con microsintaxis </b> </p>
<ng-template [ngIf]="edad<18" [ngIfElse]="adulto">
    <p>Es menor de 18 años</p>
</ng-template>

<ng-template #adulto>
    <ng-template [ngIf]="edad<30" [ngIfElse]="adulto30">
        <p>Es mayor de 18 años</p>
    </ng-template>
</ng-template>

<ng-template #adulto30>
    <p>Es mayor de 30 años</p>
</ng-template>
<hr>
<h2 class="mb-3">Estructuras con For Avanzado</h2>
<h5>Lista con for</h5>
<ul>
    <li *ngFor="let numero of [0,11,22,33,44,55];
                let indice = index; let impar = odd;
                let primero = first; let ultimo = last;
                let cuenta = count" [ngClass]="{'text-danger' : impar , 'bg-primary' : primero }" id="elemento{{indice}}" (click)="muestraLog(this.indice, this.numero, this.cuenta)">

        En la posicion {{indice}} de {{cuenta-1}}, que es: {{ impar? "impar" : "par"}} , está el número {{numero}}, {{ primero? " que es el ultimo elemento del array" : ""}} {{ ultimo? " que es el ultimo elemento del array" : ""}}
    </li>
</ul>

<hr>

<h5 class="mb-3">Table con For</h5>

<table class="table">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Par/Impar</th>
            <th>Número</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let numero of [0,11,22,33,44,55];
                    let indice = index;
                    let impar = odd;" [ngClass]="{'text-danger' : impar , 'bg-primary' : indice == 0 }">
            <td scope="row ">{{indice}}</td>
            <td>{{ impar? "impar" : "par"}}</td>
            <td>{{numero}}</td>
        </tr>
    </tbody>
</table>

<hr>

<h5 class="my-3">Calculadora</h5>

<div class="my-3" [ngSwitch]="operador">
    <span *ngSwitchCase='"+"'> <p><b>{{op1 + op2}}</b></p> </span>
    <span *ngSwitchCase='"-"'><p><b>{{op1 - op2}}</b></p></span>
    <span *ngSwitchCase='"*"'><p><b>{{op1 * op2}}</b></p></span>
    <span *ngSwitchCase='"/"'><p><b>{{op1 / op2}}</b></p></span>
    <span *ngSwitchDefault><p><b>Selecciona una operación</b></p></span>
</div>

<div class="row">
    <div class="col-2">
        <input class="form-control" placeholder="numero 1" type="number" [(ngModel)]="op1">
    </div>
    <div class="col-1">
        <select [(ngModel)]="operador" class="form-select" name="operacion" id="arraynumeros">
            <option *ngFor="let operacion of operaciones" value="{{operacion}}">{{operacion}}</option>
        </select>
    </div>
    <div class="col-2">
        <input class="form-control" placeholder="numero 2" type="number" [(ngModel)]="op2">
    </div>
</div>