<div class="row justify-content-evenly">

    <div class="col-5 border rounded">
        <h5 class="my-2">Insertar Contacto</h5>
        <div class="row g-3 my-3">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="nuevoContacto.nombre">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="nuevoContacto.apellido">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Edad</label>
                <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="nuevoContacto.edad">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="nuevoContacto.numero">
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Teléfono de trabajo</label>
                <input type="text" class="form-control" id="inputZip" [(ngModel)]="nuevoContacto.numeroTrabajo">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary my-2" (click)="insertarContacto()">Guardar</button>
            </div>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="col-5 border rounded">
        <h5 class="my-2">Contacto Seleccionado</h5>
        <div class="row g-3 my-3 mx-1">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="contactoSeleccionada.nombre">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="contactoSeleccionada.apellido">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Edad</label>
                <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="contactoSeleccionada.edad">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="contactoSeleccionada.numero">
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Teléfono de trabajo</label>
                <input type="text" class="form-control" id="inputZip" [(ngModel)]="contactoSeleccionada.numeroTrabajo">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary my-2" (click)="editarContacto(contactoSeleccionada)">Editar</button>
                <button type="submit" class="btn btn-danger my-2 mx-1" (click)="borrarContacto(contactoSeleccionada)">Borrar</button>
            </div>
        </div>
    </div>
</div>

<hr>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>Edad</th>
            <th>Número</th>
            <th>NúmeroTrabajo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contacto of contactos; let indiceSel = index;" (click)="contactoSeleccionada = contacto; indiceSeleccionado = indiceSel">
            <td scope="row">{{contacto.id}}</td>
            <td>{{contacto.nombre}}</td>
            <td>{{contacto.apellido}}</td>
            <td>{{contacto.edad}}</td>
            <td>{{contacto.numero}}</td>
            <td>{{contacto.numeroTrabajo}}</td>
        </tr>
    </tbody>
</table>