<h5>Insertar Nota</h5>
<div class="row g-3 my-3 shadow-sm p-3 mb-2 bg-body border rounded p-3">
    <div class="col-md-6">
        <input type="text" placeholder="titulo" [(ngModel)]="notaNueva.titulo" class="form-control">
    </div>
    <div class="col-md-6">
        <input type="text" placeholder="contenido" [(ngModel)]="notaNueva.contenido" class="form-control">
    </div>
</div>

<button class="btn btn-primary" (click)="insertarNota()">Insertar nota</button><br>
<hr>
<h5>Nota seleccionada</h5>
<div class="row g-3 my-3 shadow-sm p-3 mb-2 bg-body border rounded p-3">
    <div class="col-md-6">
        <input type="text" placeholder="titulo" [(ngModel)]="notaSeleccionada.titulo" class="form-control">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="contenido" [(ngModel)]="notaSeleccionada.contenido">
    </div>
</div>

<button class="btn btn-primary" (click)="editarNota(notaSeleccionada)">Editar Nota</button>
<button class="btn btn-danger ml-3" (click)="borrarNota(notaSeleccionada)">Borrar Nota</button>



<table class="table my-5">
    <thead>
        <tr>
            <th>Id nota</th>
            <th>Título</th>
            <th>Contenido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let nota of notas" (click)="notaSeleccionada =  nota">
            <td scope="row">{{nota.id}}</td>
            <td>{{nota.titulo}}</td>
            <td>{{nota.contenido}}</td>
        </tr>
    </tbody>
</table>